@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500&display=swap");

body {
    font-family: "Poppins", sans-serif;
    padding: 0;
    margin: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;

    .box {
        width: 84%;
        max-width: 960px;
        border: 1px solid rgba(128, 128, 128, 0.4);
        border-radius: 8px;
        display: flex;
        flex-direction: column;
        align-items: center;

        .loading {
            width: 100%;
            margin-bottom: 14px;
            height: 6px;
            border-top-left-radius: 6px;
            border-top-right-radius: 6px;

            #loading-line {
                height: inherit;
                width: 1px;
                background-color: rgb(52, 120, 246);
                transition: width 4s ease, border-top-right-radius 12s ease;
                border-top-left-radius: inherit;
                border-top-right-radius: 0;

                &.fill {
                    width: 100%;
                    border-top-right-radius: inherit;
                }
            }
        }

        .title {
            padding: 4px;
            font-size: 1.4rem;
            margin-bottom: 20px;
            text-align: center;

            a {
                text-decoration: none;
                color: rgb(52, 120, 246);

                &:hover {
                    cursor: pointer;
                }
            }

            &:hover {
                cursor: default;
            }
        }

        svg {
            width: 75%;
            aspect-ratio: 2616/893;
            margin-bottom: 20px;
        }

        .credits {
            margin-bottom: 20px;

            a {
                text-decoration: none;
                color: rgb(52, 120, 246);

                &:hover {
                    cursor: pointer;
                }
            }

            &:hover {
                cursor: default;
            }
        }
    }
}
